* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #bb2205;
}
.homepage {
    display: flex;
    justify-content: flex-start;
}
img {
    width: 209px;
    height: 242px;
}